#title{
    text-align: center;
}

.col{
    display: flex;
}

.label{
    margin-right: 5px;
}

#scoreboard{
    justify-content: space-between;
    margin: 3% auto 1% auto;
    width: 35%;
    border-bottom: 1px rebeccapurple solid;
}

#board{
    text-align: center;
    margin: auto;
    width: 60%;
}

#buttons{

    margin: 5% auto auto auto;
    width:fit-content;
}